*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--kimai/
!docker/server--kimai/rootfs/
!docker/server--kimai/rootfs/opt/
!docker/server--kimai/rootfs/opt/kimai/
!docker/server--kimai/rootfs/opt/kimai/entrypoint.bash
!docker/server--kimai/rootfs/startup.sh
!docker/server--kimai/default.docker
!docker/server--kimai-database/
!docker/server--kimai-database/default.docker
!docker-compose/
!docker-compose/server--kimai/
!docker-compose/server--kimai/default.docker-compose
!.gitignore
!.gitmodules
!container.env
!host.env
!LICENCE
!README.md