*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--kimai/
!docker/server--kimai/rootfs/
!docker/server--kimai/rootfs/opt/
!docker/server--kimai/rootfs/opt/kimai/
!docker/server--kimai/rootfs/opt/kimai/entrypoint.bash
!docker/server--kimai/default.docker
!docker/server--kimai-database/
!docker/server--kimai-database/default.docker
!.gitignore
!.gitmodules
!host.env
!LICENCE
